{% extends "base.html" %}

{% block menu %}
  <p class="level-item"><strong>Добавить задачу</strong></p>
  <p class="level-item"><a href="/results/">Посмотреть результаты</a></p>
{% endblock %}

{% block app %}
  <h1 class="title is-1">
    [[form.formName]]
  </h1>

  <template>
    <div v-show="!showSubmitFeedback">
      <b-form>
        <b-form-group id="input-group-1" label="Ссылки:" label-for="input-1">
          <b-form-textarea id="textarea" v-model="form.urls" placeholder="Каждая ссылка с новой строки" rows="3" max-rows="6"></b-form-textarea>
        </b-form-group>
        <b-form-group id="input-group-1" label="Ключевые фразы:" label-for="input-1">
          <b-form-textarea id="textarea" v-model="form.keywords" placeholder="Каждая фраза с новой строки" max-rows="6"></b-form-textarea>
        </b-form-group>
        </b-row>
        <b-button @click.prevent="addText" type="submit" variant="primary" class="mt-2">Добавить задачу</b-button>
      </b-form>
    </div>


  <div class="columns">
    <div class="column">
        <article class="message is-primary" v-show="showSubmitFeedback">
          <div class="message-header">
            <p>Статус:</p>
          </div>
          <div class="message-body">
            Задача успешно добавлена, ее номер [[taskId]]!

          </div>
            <b-button @click.prevent="addNew" type="submit" variant="primary" class="mb-2 ml-4">Добавить еще</b-button>
        </article>


    </div>
  </div>
  </template>
{% endblock %}

{% block js %}
  <script>
    new Vue({
      el: "#app",
      delimiters: ["[[", "]]"],
      data: {
        form: {
          formName: 'Добавить задачу',
          urls: '',
          keywords: ''
        },
        taskId: null,
        showSubmitFeedback: false,
      },
      methods: {
        onSubmit(evt) {
          evt.preventDefault();
        },
        addText() {
          if (this.form.urls.length === 0  || this.form.keywords.length === 0) {
            alert("Необходимо заполнить ссылки и ключевые слова!")
            return ;
          }

          return axios.post("/api/tasks/", {
            urls: this.form.urls,
            keywords: this.form.keywords
          }, {
            headers: {
              'Content-type': 'application/json',
            }
          }).then((response) => {
            this.taskId = response.data['id'];
            this.showSubmitFeedback = true;
          });
        },
        addNew() {
            this.form.keywords = '';
            this.form.urls = '';
            this.showSubmitFeedback = false;
        }
      }
    });
  </script>
{% endblock %}